@using Tayra.Common

@{
    ViewData["Title"] = $"Connect { ViewData["Type"] }";
}
<div class="card">
    <h5 class="card-header">Available Connectors</h5>
    <div class="card-body">
        <ul>
            <li>@Html.ActionLink("Atlassian Jira", "Connect", new { type = IntegrationType.ATJ })</li>
            <li>@Html.ActionLink("Github", "Connect", new { type = IntegrationType.GH })</li>
        </ul>
    </div>
</div>